@import url(http://fonts.googleapis.com/css?family=Oswald);

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

/******************************************************************************/

body {
  background: url(/static/padded.png);
  color: white;
  text-shadow: #000 2px 1px 0;
}

select {
  font-size: 100%;
}

body, input, select, button {
  font: 14px/1.5 sans-serif;
}

h1 {
  font-family: 'Oswald';
  font-size: 56px;
  margin-bottom: 21px;
}

h1 a {
  text-decoration: none;
}

a {
  color: white;
}

input, button {
  border: 0;
}

button {
  cursor: pointer;
  margin: 0;
}

.button {
  background-color: white;
  box-shadow: #000 2px 2px 0;
  color: #445;
  display: inline-block;
  font-weight: bold;
  padding: 0 5px;
  text-decoration: none;
  text-shadow: none;
}

.col {
  background: #334;
  box-shadow: #000 0 0 10px 0;
  border: 1px #445 solid;
  padding: 10px;
}

#index {
  width: 480px;
  margin: 0 auto;
  position: relative;
}

#sidebar {
  width: 480px;
  position: fixed;
  top: 10px;
  left: 10px;
}

#actions {
  font-size: 21px;
  text-align: center;
}

#profile {
  position: absolute;
  top: 20px;
  right: 10px;
  line-height: 2;
  text-align: right;
}

#profile a {
  line-height: 1.5;
  text-decoration: none;
}

#search input {
  font-size: 24px;
  padding: 5px;
  width: 470px;
}

#results {
  background-color: #556;
  box-shadow: #000 0 0 10px 0;
  position: absolute;
  padding: 0 10px;
  width: 460px;
  height: 300px;
  overflow-y: auto;
  display: none;
}

#results li {
  cursor: pointer;
  margin: 10px 0;
}

#results li:hover {
  background-color: #667;
}

#results li img {
  float: left;
  width: 80px;
}

#results li .title {
  font-size: 14px;
  font-weight: bold;
}

#results li .author {
  font-size: 12px;
  display: block;
}

#results li .title,
#results li .author {
  margin-left: 90px;
}

#playlist {
  margin: 10px 10px 21px 520px;
}

#playlist-title {
  margin-bottom: 10px;
}

#playlist-title h2 {
  font-size: 21px;
  padding: 0 5px;
  float: left;
}

#playlist-title #buttons {
  padding: 4px 5px;
  float: right;
}

#playlist li {
  background-color: #334;
  padding: 10px;
  border-top: 1px #445 solid;
}

#playlist li.playing {
  background-color: #445;
}

#playlist li img {
  cursor: pointer;
  float: left;
  width: 120px;
}

#playlist li .delete {
  float: right;
  font-weight: bold;
  text-decoration: none;
}

#playlist li .title {
  cursor: pointer;
  font-size: 21px;
  margin-left: 130px;
}

#playlist li .author {
  display: block;
  margin-left: 130px;
}

#footer {
  margin-top: 21px;
}

#footer, #footer a {
  color: #556;
}
